include INSTALL
include license.txt
include callbacks/amebaC3_templates.cfg
include callbacks/ameba_freshness_exceeded.sh
include amebaC3_sample.conf
include amebaC3_httpd_sample.conf
include debian/changelog
include debian/control
include debian/rules
include debian/postinst
include debian/prerm
