Source: amebac3-client
Section: admin
Priority: optional
Maintainer: Javier Palacios <javiplx@gmail.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: amebac3-client
Architecture: all
Depends: python
Description: AmebaC3 update shell agent
