#!/usr/bin/make -f
# -*- makefile -*-


build: build-stamp
build-stamp:
	dh_testdir
	python setup.py build
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp build
	-python setup.py clean
	dh_clean 

binary:
	python setup.py install --root $(CURDIR)/debian/tmp
	mkdir -p $(CURDIR)/debian/tmp/etc
	cp amebaC3_sample.conf $(CURDIR)/debian/tmp/etc/amebaC3.conf
	mkdir -p $(CURDIR)/debian/tmp/etc/apache2/conf.d
	cp amebaC3_httpd_sample.conf $(CURDIR)/debian/tmp/etc/apache2/conf.d/amebaC3
	mkdir -p $(CURDIR)/debian/tmp/etc/nagios3/conf.d
	cp callbacks/amebaC3_templates.cfg $(CURDIR)/debian/tmp/etc/nagios3/conf.d
	mkdir -p $(CURDIR)/debian/tmp/usr/share/doc/amebac3
	cp callbacks/ameba_freshness_exceeded.sh $(CURDIR)/debian/tmp/usr/share/doc/amebac3
	dh_gencontrol
	dh_builddeb

